@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-noto: "Noto Serif", serif;
  --animate-borderPulse: borderPulse 2s ease-in-out infinite;
  --animate-spin-slow: spin 5s linear infinite;
}



@keyframes borderPulse {
  0%,
  100% {
    border-color: greenyellow;
    box-shadow: 0 0 10px greenyellow;
  }
  25% {
    border-color: aqua;
    box-shadow: 0 0 15px aqua;
  }
  50% {
    border-color: #f63b3b;
    box-shadow: 0 0 20px #f63b3b;
    filter: blur(0.5px);
  }
}
html {
  scroll-behavior: smooth;
}
body {
  @apply bg-gradient-to-b from-gray-950 via-gray-900 to-gray-950 font-inter scroll-smooth;
}
.input {
  @apply bg-[#2B2B2D] text-white placeholder-gray-500 p-3 rounded-md border border-transparent focus:outline-none focus:ring-2 focus:ring-green-400 focus:border-green-400;
}
.animateText::before {
  background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
  @apply content-[''] absolute left-[120%] w-[110%] h-[120%];
}
/* NAVIGATION */

nav ul li .navlink {
  @apply py-2 px-3 relative;
}

nav ul li .navlink,
nav ul li .navlink:after,
nav ul li .navlink:before {
  @apply transition-all delay-100;
}

/* stroke */

nav.fill ul li .navlink:after {
  @apply absolute bottom-0 left-0 right-0 m-auto w-0 content-['.'] text-transparent bg-blue-600 h-[1px];
}

nav.fill ul li .navlink:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li .navlink:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
.text-outline {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
