@import "tailwindcss";

body {
  @apply bg-black;
}

/* NAVIGATION */

nav ul li .navlink {
  @apply py-2 px-3 relative;
}

nav ul li .navlink,
nav ul li .navlink:after,
nav ul li .navlink:before {
  @apply transition-all delay-100;
}

/* stroke */

nav.fill ul li .navlink:after {
  @apply absolute bottom-0 left-0 right-0 m-auto w-0 content-['.'] text-transparent bg-amber-300 h-[1px];
}

nav.fill ul li .navlink:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li .navlink:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}
